.certificate-search-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  .certificate-search {
    width: 1000px;
    margin-bottom: 36px;

    &__field {
      width: 100%;
      display: flex;
      justify-content: start;
      margin-bottom: 36px;
    }

    &__field-title {
      font-size: 36px;
    }
  }
}