.menuBar-view {
  display: flex;
  justify-content: center;
  align-items: center;

  .menuBar {
    width: 1440px;
    height: 304px;
    margin: 64px 0;
    padding: 64px 220px;
    background-color: #F1F1F6;

    .menu-button {

      &__first {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 16px;
      }

      &__second {
        display: flex;
        justify-content: center;
        gap: 24px;
      }

      .favorite-field-button {
        border-radius: 66px;
        background-color: #FFFFFF;
      }
    }

    .more-menu-button {
      display: flex;
      justify-content: center;
      margin-top: 16px;
    }
  }
}