.myPage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .certificate-info {
    width: 410px;
    height: 156px;
  }

  .myPage-container-group {
    width: 1165px;
    height: 100%;
    display: flex;
    gap: 36px;
  }
}
