.myPage-menu {
  width: 217px;
  height: 104px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .myPage-menu-tab {
    display: flex;
    gap: 2.5px;
    align-items: center;
    cursor: pointer;

    &__icon {
      width: 24px;
      height: 24px;
    }

    &__text {

      font-size: 16px;
    }
  }
}