.my-profile {
  width: 912px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;

  .my-profile-title {
    display: flex;
    align-items: center;

    &__icon {
      width: 32px;
      height: 32px;
      margin: 4px 8px 4px 0;
    }

    &__text {
      font-size: 32px;
    }
  }

  .my-profile-box {
    width: 864px;
    height: 318px;
    display: flex;
    gap: 28px;

    .my-profile-image-box {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__image {
        width: 120px;
        height: 120px;
        border-radius: 24px;
        background-color: #E0E0E0;
      }

      &__button {
        width: 85px;
        height: 32px;
        padding: 4px 16px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        color: white;
        background-color: black;
      }
    }

    .my-profile-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;

      .my-profile-info-box {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__title {
          font-size: 16px;
        }

        &__group {
          width: 534px;
          height: 40px;
          display: flex;
          align-items: center;
          border: 1px solid #E2E2E2;
          border-radius: 4px;

          &__input {
            width: 469px;
            height: 24px;
            margin: 8px;
            font-size: 16px;
            outline: none;
            border: none;
          }

          &__button {
            width: 43px;
            height: 32px;
            margin: 4px 8px 4px 0;
            padding: 8px;
            border: 1px solid black;
            border-radius: 8px;
            font-size: 14px;
            background-color: white;
          }
        }
      }

      .my-profile-interest-field {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__title {
          font-size: 16px;
        }

        &__button-group {
          display: flex;
          gap: 8px;
          margin-top: 4px;
        }

        .favorite-field-button {
          border-radius: 16px;
          border: 1px solid #F5F7FA;
          background-color: #F5F7FA;
        }
      }

      .my-profile-interest-save {
        display: flex;
        justify-content: right;

        &__button {
          width: 62px;
          height: 29px;
          padding: 2.5px 16px;
          font-size: 16px;
          border: none;
          color: #4F72F3;
          background-color: white;
        }

      }
    }
  }
}