.my-profile {
  padding: 24px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;

  .my-profile-title {
    display: flex;
    margin-bottom: 24px;
    align-items: center;

    &__icon {
      width: 32px;
      height: 32px;
      margin: 8px 8px 8px 0;
    }

    &__text {
      font-size: 36px;
    }
  }

  .my-profile-image {
    display: flex;
    gap: 28px;

    .my-profile-image-box {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__image {
        width: 120px;
        height: 120px;
        border-radius: 24px;
        background-color: #E0E0E0;
      }

      &__button {
        width: 85px;
        height: 32px;
        padding: 4px 16px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        color: white;
        background-color: black;
      }
    }

    .my-profile-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;

      .my-profile-info-box {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__input {
          padding: 4px 8px;
          outline: none;
          border: 1px solid #E2E2E2;
          border-radius: 4px;
        }
      }

      .my-profile-interest-field {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__button-group {
          display: flex;
          gap: 75px;
          margin-top: 4px;
        }

        &__button {
          padding: 16px;
          border-radius: 16px;
          background-color: #DCE3F9;
        }
      }

      .my-profile-interest-save {
        display: flex;
        justify-content: right;

        &__button {
          width: 85px;
          height: 32px;
          padding: 4px 16px;
          border: none;
          border-radius: 8px;
          font-size: 14px;
          color: white;
          background-color: black;
        }

      }
    }
  }
}