.tab-menu {
  display: flex;
  justify-content: start;
  height: 40px;

  .tab-menu-items {
    display: flex;
    height: 100%;
    align-items: center;
    border-top: 5px solid #5C78E0;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .tab-menu-item-icon {
      width: 20px;
      height: 20px;
      margin: 8px;
    }

    .tab-menu-text {
      margin: 8px;
      align-items: center;
    }
  }
}