.searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .searchBox-group {
    width: 1051px;
    height: 47px;
    display: flex;
    gap: 16px;
    position: relative;

    .searchBox-icon {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 24px;
      top: 16px;
    }

    .searchBox-input {
      width: 100%;
      padding: 16px 0 16px 64px;
      border: 1px solid #E0E0E0;
      border-radius: 8px;
      outline: none;
      background-color: #F8F8F8;
    }

    .searchBox-submit {
      width: 75px;
      height: 45px;
      border: none;
      border-radius: 8px;
      color: white;
      background-color: #5C78E0;
      font-size: 16px;
    }
  }
}