.recommend-cert-view {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recommend-cert {
    padding: 0px 40px;

    &__title {
      display: flex;
      justify-content: start;
      font-size: 36px;

      .__title-text {
        font-size: 36px;
      }
    }

    .recommend-cert-card-group {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 32px;
      padding-top: 32px;
      align-items: center;

      .recommend-cert-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 auto;
      }

      .arrow-icon {
        width: 24px;
        height: 24px;
      }
    }

    .three-dot-button {
      display: flex;
      justify-content: center;
      margin-top: 64px;

      .three-dot-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
