.header {
  width: 100%;
  height: 94px;

  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .title {
      margin: 20px 0 20px 20px;
      font-size: 24px;
    }

    .header-button-group {
      display: flex;
      gap: 16px;
      margin: 24px 24px;

      .my-calender-button {
        width: 100px;
        display: flex;
        justify-content: end;
        align-items: center;
        background: none;
        border: none;

        .my-calender-button-icon {
          width: 24px;
          height: 24px;
          padding: 2px;
        }
      }

      .login-button {
        background: none;
        border: none;
      }

      .myPage-button {
        background: none;
        border: none;
      }
    }
  }
}
