name: CI

on:
  pull_request:
    branches: [ main, dev ]

jobs:
  lint:
    name: Checking code style with lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run lint

  build:
    name: Build project
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run build